.contentBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  &__section {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__readMore {
      &--stateCheck {
        display: none;
      }

      &--target {
        color: white;
        opacity: 0.9;
        max-height: 0;
        font-size: 0;
        transition: .25s ease;
        padding: 0.3em;
        padding-top: 0.5em;
      }

      &--trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0.5em;
        color: rgb(174, 174, 174);
        font-size: .9em;
        line-height: 2;
      }
    }
  }
}


.contentBox__section__readMore--stateCheck:checked~.contentBox__section__readMore--wrap .contentBox__section__readMore--target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
