.Partners__pageTitle {
    background-image: url('../../assets/image/Customers/pageTitle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

    & h1 {
        color: #FFFFFF;
        text-shadow: 3px 5px 2px #474747;
    }
}
 
.Partners__description {
    margin: 50px 0px 0px 0px;
    position: relative;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        width: 70%;
        text-align: center;
        font-size: 70px;
        margin: 0px 60px;
        // border: 1px solid red;

    }
}

.Partners__icons__container {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 0px 0px;
    
}

.Partners__icons__item {
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    border-right: 2px black solid;
    border-left: 2px black solid;
    &__img {
        height: 100%;
        overflow: hidden;
        aspect-ratio: 1/1;
 

        & img {
            height: 100%;
            width: 100%;
        }
    }

}

// .Partners__icons__item img:hover {
//     transition: all .2s ease-in-out;
//     transform: scale(1.2);
// }



@media only screen and (max-width: 600px) {
    .Partners__description{
        height: auto;
    }
    .Partners__icons__item{
        flex-direction: column;
        height: auto;
        border: none;
        &__img{
            margin-bottom: 50px;
        }
    }
    .Partners__icons__container {
        height: auto;
    }
}